<mat-form-field appearance="fill">
  <mat-label>{{ label | translate }}</mat-label>
  <ngx-mat-file-input
    [formControl]="control"
    [multiple]="multiple"
    [accept]="accept || ''"
    [color]="color"
  >
  </ngx-mat-file-input>

  <mat-hint *ngIf="hint">{{ hint | translate }}</mat-hint>

  <mat-error *ngIf="control.hasError('required')">
    {{ "REQUIRED" | translate }}
  </mat-error>
  <mat-error
    *ngIf="control.hasError('overSize')"
    [translate]="'MAX_SIZE'"
    [translateParams]="{maxSizeInMB}"
  >
  </mat-error>
</mat-form-field>
