<mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <ngx-mat-file-input
    [formControl]="control"
    [multiple]="multiple"
    [accept]="accept || ''"
    [color]="color"
  >
  </ngx-mat-file-input>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>

  <mat-error *ngIf="control.hasError('required')">
    Обязательное поле
  </mat-error>
  <mat-error *ngIf="control.hasError('overSize')">
    Вес данных не должен превышать {{ maxSizeInMB }}мб
  </mat-error>
</mat-form-field>
