<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form class="form" [formGroup]="form">
          <h2>Форма пред-модерации</h2>
          <ng-container *ngFor="let option of options">
            <ng-container [ngSwitch]="option.type">
              <app-select
                *ngSwitchCase="select"
                class="form__control"
                [label]="option.label"
                [options]="option.list || []"
                [control]="$any(controls[option.control])"
              >
              </app-select>

              <app-input-file
                *ngSwitchCase="'file'"
                class="form__control"
                [label]="option.label"
                [accept]="option.accept"
                [maxSize]="option.maxSize || fileMaxSize"
                [hint]="option.hint"
                [control]="$any(controls[option.control])"
              ></app-input-file>

              <app-input
                *ngSwitchDefault
                class="form__control"
                [ngClass]="{ 'form__control-hint': option.hint }"
                [label]="option.label"
                [type]="option.type || 'text'"
                [control]="$any(controls[option.control])"
                [hint]="option.hint"
              ></app-input>
            </ng-container>
          </ng-container>

          <div class="form__btn">
            <button
              mat-raised-button
              color="primary"
              [disabled]="form.invalid"
              (click)="onSubmit($event)"
            >
              Отправить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
